<!DOCTYPE html>
<html>
  <head>
    <title>Ethereum Transaction Application</title>
    
    <link rel='stylesheet' href='/stylesheets/semantic.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
